
#button1, #button2 {
   display: inline-block;
   /* additional code */
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
