
#button1, #button2 {
   display: inline-block;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}


body {
  font-family: 'Courier New';
}

@font-face {
    font-family: 'Courier New';
    src: url('CourierNewPSMT.eot');
    src: url('CourierNewPSMT.eot?#iefix') format('embedded-opentype'),
        url('CourierNewPSMT.woff2') format('woff2'),
        url('CourierNewPSMT.woff') format('woff'),
        url('CourierNewPSMT.svg#CourierNewPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
